<header class="page-header">
    <h1>Dashboard</h1>
</header>
<div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="text-center">Product Count</h1>
      <p class="lead text-center jumbo"><%= @product_count %></p>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="text-center">Category Count</h1>
      <p class="lead text-center jumbo"><%= @category_count %></p>
    </div>
  </div>
</div>
