<div class="wrapper">
  <header class="text-center page-header">
    <h1>About Us</h1>
  </header>
  <h3 class="text-center">Our Story</h3>
  <img class="center-block" style="width: 100px; height: 100px; margin: 0 auto; border-radius: 50px; border: 3px solid #b44" src="https://i.pinimg.com/736x/94/ba/f8/94baf875f3b3f87b99c3a4a01e0503fe.jpg">
  <p style="font-size: 18px; padding: 6px; width: 75%; margin: 5px auto;"><%=Faker::Hipster.paragraph(45)%></p>
</div>
